<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Сайт-визитка</title>
    </head>
    <body>

    <header>
        <a href="index.html">Главная</a> &#8596;
        <a href="/works">Мои работы</a> &#8596;
        <a href="/learns">Мое образование</a>
    </header>
    <hr>

    <h1>Добро пожаловать на мой сайт!</h1>
    <h3>Немного обо мне</h3>
    <p>Меня зовут Антон Бондаренко. Я родился в 1993 году в городе Гродно, Беларусь. С 3 лет живу в Одессе, Украина.</p>
    <p>Я увлекаюсь настольным теннисом, бильярдом, сноубордингом и вейкбордингом.</p>


    </body>
</html>