<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Сайт-визитка</title>
        <style type="text/css">
            header {
                text-align: center;
                line-height: 35px;
                font-size: 20px;
              }
        </style>
    </head>
    <body>

    <header>
        <a href="/">Главная</a> &#8596;
        <a href="/works">Моя трудовая деятельность</a> &#8596;
        <a href="/learns">Мое образование</a>
    </header>
    <hr>

    <h1>Добро пожаловать на мой сайт!</h1>
    <h3>Немного обо мне</h3>
    <p>Меня зовут Антон Бондаренко. Я родился в 1993 году в городе Гродно, Беларусь. С 3 лет живу в Одессе, Украина.<br>
    Я увлекаюсь настольным теннисом, бильярдом, сноубордингом и вейкбордингом.<br>
    Ранее активно занимался Историческим Фехтованием. Участвовал в украинских и международных соревнованиях. В 2013 году<br>
    получил серебрянную медаль в номинации "групповые бои 21х21" на международных соревнованиях Battle of the nations.</p>


    </body>
</html>