<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Образование</title>
        <style type="text/css">
            header {
                text-align: center;
                line-height: 35px;
                font-size: 20px;
             }
        </style>
    </head>
    <body>

    <header>
        <a href="/">Главная</a> &#8596;
        <a href="/works">Моя трудовая деятельность</a> &#8596;
        <a href="/learns">Мое образование</a>
    </header>
    <hr>

    <h3>Мое образование</h3>
    <p>2010 - 2015: Одесский Национальный Экономический Универитстет. Специальность маркетинг. Окончен с отличием.<br>
    2015 год - Курсы Netpeak по напралению PPC специалист.<br>
    2016 год - Бизнес-академия от компании Philip Morris Ukraine по направлении маркетинг.<br>
    2017 год - Курсы GeekBrains, изучение курсов Python, Django, HTML, CSS.</p>

    </body>
</html>